## Load Data

In [13]:
import pandas as pd
url_dirty = "https://raw.githubusercontent.com/DJCordhose/ml-examples/master/datasets/Iris/iris_dirty.csv"

url_clean ="https://raw.githubusercontent.com/DJCordhose/ml-examples/master/datasets/Iris/iris.data"


dirty_df = pd.read_csv(url_dirty, header=None)
clean_df = pd.read_csv(url_clean, header=None)

Dirty Data Set: comes with 151 Observation and 5 Columns
Clean Data Set: comes wth 150 Observations and 5 Columns

In [14]:
print(dirty_df.shape)
print(clean_df.shape)

(151, 5)
(150, 5)

The dirty dataset uses object for strings. So we see that colum with index 3 is an object instead of float

In [19]:
print(dirty_df.head())
print(dirty_df.dtypes)
print(clean_df.head())
print(clean_df.dtypes)

     0    1    2     3            4
0  5.1  3.5  1.4  2 mm  Iris-setosa
1  4.9  3.0  1.4  2 mm  Iris-setosa
2  4.7  3.2  1.3  2 mm  Iris-setosa
3  4.6  3.1  1.5  2 mm  Iris-setosa
4  5.0  3.6  1.4  2 mm  Iris-setosa
0    float64
1    float64
2    float64
3     object
4     object
dtype: object
     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
0    float64
1    float64
2    float64
3    float64
4     object
dtype: object

info() is the same like str() in R

In [20]:
print(dirty_df.info())
print(clean_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       151 non-null    float64
 1   1       150 non-null    float64
 2   2       151 non-null    float64
 3   3       151 non-null    object
 4   4       151 non-null    object
dtypes: float64(3), object(2)
memory usage: 6.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In the summary statistics we can see that column 3 is missing because its an object
Additionally we can see in the max values that we have an outlier

In [25]:
print(dirty_df.describe())
print(clean_df.describe())

                0           1           2
count  151.000000  150.000000  151.000000
mean     6.196689    3.057333    3.764901
std      4.324325    0.432776    1.760197
min      4.300000    2.000000    1.000000
25%      5.100000    2.800000    1.600000
50%      5.800000    3.000000    4.400000
75%      6.400000    3.300000    5.100000
max     58.000000    4.400000    6.900000
                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

We can see that also clean data set has duplicates, but it is not

In [35]:
duplicates_dirty =dirty_df.duplicated()
duplicates_clean = clean_df.duplicated()

print(dirty_df[duplicates_dirty])
print(clean_df[duplicates_clean])

       0    1    2      3                4
34   4.9  3.1  1.5   1 mm      Iris-setosa
37   4.9  3.1  1.5   1 mm      Iris-setosa
100  7.0  3.2  4.7  14 mm  Iris-versicolor
       0    1    2    3               4
34   4.9  3.1  1.5  0.1     Iris-setosa
37   4.9  3.1  1.5  0.1     Iris-setosa
142  5.8  2.7  5.1  1.9  Iris-virginica

Fix Datatype to float

In [40]:
dirty_df[3] = dirty_df[3].str.replace("mm", "") # Remove mm
dirty_df[3] = dirty_df[3].astype(float)
print(dirty_df.info())

AttributeError: Can only use .str accessor with string values!

In [48]:
q_low = dirty_df[0].quantile(0.01)
q_high = dirty_df [0].quantile(0.99)

dirty_df_cleaned = dirty_df[(dirty_df[0] >= q_low) & (dirty_df[0] <= q_high)]

dirty_df_cleaned.describe()

                0           1           2           3
count  148.000000  147.000000  148.000000  148.000000
mean     5.847973    3.055102    3.756081   11.972973
std      0.811857    0.431814    1.747505    7.580808
min      4.400000    2.000000    1.000000    1.000000
25%      5.100000    2.800000    1.600000    3.000000
50%      5.800000    3.000000    4.350000   13.000000
75%      6.400000    3.300000    5.100000   18.000000
max      7.700000    4.400000    6.900000   25.000000